
html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
form{
    background-color: #EEEEEE;
    
}

a{
    text-decoration: none;
}
h2{
    font-family: 'Roboto', sans-serif;
    font-size: 5em;
    text-align: center;
}
label,input,p{
    display: block;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    margin:.5rem;
}

section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
textarea{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin: .5rem;
}
input[type=button]{
    margin-top: 5px;
    background: #00adb5;
    border-radius: 20px;
    height: 14px;
    line-height: 14px;
    color: #FFFFFF;
    width: 185px;
    font-size: 20px;
    font-weight: 900;
    box-shadow: 1px 1px 6px 0px #393e46;
    border: solid #00adb5 1px;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    padding: 1rem 1rem 1.8rem 1rem;
   
    }
    


input[type=button]:hover {
    border-radius: 20px;
    text-decoration: none;
    background: #393e46;
    border: solid #393e46 1px;
    box-shadow: 1px 1px 6px 0px #00adb5;
}
input[type=checkbox] {
    transform: scale(2);
    text-align: center;
    
}


.section5 label,.section5 input{
    display: inline;
}

.form-group{
    display: flex;
}
