
html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
}

form{
    background-color: #0D0D0D;
    height: 100%;
    width: auto;
}
h2{
    font-family: 'Roboto', sans-serif;
    font-size: 5em;
    text-align: center;
    color: #FFF;
}
label,input,p{
    display: block;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    margin:.5rem;
    color: #FFF;
    border-radius: 8px;
}
input{
    color: #0D0D0D;
}

section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

textarea{
    text-align: left;
    font-family: 'Roboto', sans-serif;
    margin: .5rem;
    width: 80vw;
    border-radius: 8px;
    font-size: 1.8em;

}

input[type=button],[type=submit]{
    margin-top: 5px;
    background: #00adb5;
    border-radius: 20px;
    height: 14px;
    line-height: 14px;
    color: #FFFFFF;
    width: 185px;
    font-size: 20px;
    font-weight: 900;
    box-shadow: 1px 1px 6px 0px #393e46;
    border: solid #00adb5 1px;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    padding: 1rem 1rem 1.8rem 1rem;
    }
    
    
input[type=button]:hover , [type=submit]:hover {
    border-radius: 20px;
    text-decoration: none;
    background: #393e46;
    border: solid #393e46 1px;
    box-shadow: 1px 1px 6px 0px #00adb5;
}

input[type=submit]:disabled{
    background: gray;
    border: none;
    
}


input[type=checkbox] {
    transform: scale(2);
    text-align: center;
    border-radius: 8px; 
}
div > input[type=button]{
    display: none;
}

.input-icons i { 
    position: absolute; 
    margin-left: 10px;
} 
  
.input-icons { 
    display: flex;
    width: 100%; 
    margin-bottom: 10px; 
    align-items: center;
} 
  
.icon { 
    padding: 10px; 
    min-width: 40px; 
} 
  
.input-field { 
    width: 100%; 
    padding: 10px; 
    padding-left: 35px;
    text-align: center; 
} 




.input-with-icon{
    -moz-appearance: none;
}

/* Only in firefox because no calender icon in FF */
@supports (-moz-appearance:none) {
    .input-icon-wrap { 
    display: flex;
    flex-direction: row-reverse;
    background-color: #FFF;
    }
    
    .input-with-icon {
        border: none;
        flex: 1;
    }
    
    .input-icon, .input-with-icon {
        padding: 10px;
        align-self: center;
        margin-right: 10px;
    }
  }


.fa{
    font-size:1.5em;
}
.section5 label,.section5 input{
    display: inline;
}

.form-group{
    display: flex;
    align-items: center;
    margin-left: 3em;
}
#name{
    text-align: left;
}
#startbtn{
    display: block;
}
#sec6{
    overflow: hidden!important;
}

@media screen and (max-width: 400px){
    label,input,p{
        font-size: 1.4rem;
        margin: 0.3rem ;
        
    }
    h2{
        font-size: 3em;
    }
    textarea{
        font-size: 1.4rem;
        
    }
}